body{
    margin: 0.2;
   
}
header{
    background-color: rgb(225, 138, 95);
    height: 100%;
    width: 100%;
    border: 5px outset rgba(0, 0, 0, 0.553);   
    padding: 0.5%;
    border-radius: 10px;
}
.Titulo{ 
    font-size: 40px;
    margin-top: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-shadow: 10px 10px 10px;
}
.Buscador{
    position: absolute;
    top: 11%;
    left: 42.5%;
}
.Entrada{
    border-radius: 7px;
    width: 60%;
    height: 40%
}
.Boton{
    border-radius: 7px;
    width: 25%;
    height: 30%;
}
article{
    width: 60%;
    background-color: white;
    border: 5px solid black;
    margin: 3% 0% 3% 1%;
    padding: 8px 20px 8px 8px ;
    text-align: justify;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif
}
h2{
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(225, 138, 95);
    border-radius: 5px;
    width: 50%;
    text-align: center;
    border-style: outset ;
    border-color: rgba(0, 0, 0, 0.553);
}
a{
    text-align: right;
    color: black;
    display: inline-block;
    background-color: rgb(225, 138, 95);
    text-decoration: none;
    padding:15px;
    margin: 8px;
    box-shadow: 0px 5px 0px rgb(147, 85, 54);
}
a:hover{
    box-shadow: 0px 3px 0px rgb(147, 85, 54);
}

a:active{
    box-shadow: none;
}

.Are{
    position: absolute;
    left: 70%;    
    bottom: 68%;
    text-align: center;
    border-radius: 10px;
}

.Cacha{
    position: absolute;
    left: 70%;    
    bottom: 59%;
    text-align: center;
    border-radius: 10px;
}

.Maca{
    position: absolute;
    left: 78%;    
    bottom: 59%;
    text-align: center;
    border-radius: 10px;
}

.Pabe{
    position: absolute;
    left: 70%;    
    bottom: 49.8%;
    text-align: center;
    border-radius: 10px;
}

.Pale{
    position: absolute;
    left: 81%;    
    bottom: 49.8%;
    text-align: center;
    border-radius: 10px;
}

.Pan{
    position: absolute;
    left: 70%;    
    bottom: 40.7%;
    text-align: center;
    border-radius: 10px;
}
.Pas{
    position: absolute;
    left: 79.8%;    
    bottom: 40.7%;
    text-align: center;
    border-radius: 10px;
}
.Teque{
    position: absolute;
    left: 70%;    
    bottom: 31.7%;
    text-align: center;
    border-radius: 10px;
}

.Imagen{
    height: auto;
    width: auto;
    display: block;
    border-radius: 20px;
    position: absolute;
    left: 10%;
}